// ************* COLORS ***************	

// PRIMARY COLORS

$primary         : #0071bc;
$primary-darker  : #205493;
$primary-darkest : #112e51;
$base            : #212121;
$gray-dark       : #323a45;
$gray-light      : #aeb0b5;
$white           : #ffffff;

// PRIMARY-ALT COLORS

$primary-alt          : #02bfe7;
$primary-alt-darkest  : #046b99;
$primary-alt-dark     : #00a6d2;
$primary-alt-light    : #9bdaf1;
$primary-alt-lightest : #e1f3f8;

// SECONDARY COLORS

$secondary          : #e31c3d;
$secondary-darkest  : #981b1e;
$secondary-dark     : #cd2026;
$secondary-light    : #e59393;
$secondary-lightest : #f9dede;

// BACKGROUND COLORS

$bg-gray-dark       : #323a45;
$bg-gray            : #5b616b;
$bg-gray-light      : #aeb0b5;
$bg-gray-lighter    : #d6d7d9;
$bg-gray-lightest   : #f1f1f1;
$bg-gray-warm-dark  : #494440;
$bg-gray-warm-light : #e4e2e0;
$bg-primary-darkest : #112e51;
$bg-gray-cool-light : #dce4ef;

// TERTIARY COLORS

$tr-gold               : #fdb81e;
$tr-gold-light         : #f9c642;
$tr-gold-lighter       : #fad980;
$tr-gold-lightest      : #fff1d2;
$tr-green              : #2e8540;
$tr-green-light        : #4aa564;
$tr-green-lighter      : #94bfa2;
$tr-green-lightest     : #e7f4e4;
$tr-cool-blue          : #205493;
$tr-cool-blue-light    : #4773aa;
$tr-cool-blue-lighter  : #8ba6ca;
$tr-cool-blue-lightest : #dce4ef;
